* {
  text-style: none;
}

Screen {
  padding: 1;
}

TaskWidget {
  border: round gray;
  border-subtitle-align: left;
  border-subtitle-color: $secondary;
}

TaskAdder {
  border: solid black;
  margin-bottom: 1;
}

.content {
  padding-left: 1;
  width: 1fr;
}

.complete {
  height: 3;
}

.delete-complete {
  align: right middle;
}

.dates {
  margin-top: 1;
  align: right middle;
}

.date {
  margin-right: 3;
}

.task-input {
  width: 3fr;
}

.deadline-input {
  width: 2fr;
}
